/** Navbar styles **/
#navbar {
    border-bottom: 1px solid #dbdbdb;
    background-color: #ffffff;
}
.navbar-inner {
    height: 50px;
}
.navbar-inner .ui-clock {
    height: 50px;
    width: 306px;
    transition: 100ms;
}
.clock-icons {
    width: 24px;
    height: 24px;
}
.clock-icons img {
    position: absolute;
    width: 24px;
    transition: 50ms;
}
.clock {
    color: #24292e;
    padding: 2px 8px;
    font-family: Share Tech Mono, Consolas, sans-serif;
    font-size: 17px;
}
.navigation {
    font-family: Segoe UI, sans-serif;
}
.menu {
    height: 50px;
}
.selected {
    font-weight: 600;
    border-bottom: 2px solid #ff3c3c;
}
.non-selected {
    border-bottom: 2px solid white;
}
.non-selected img {
    filter: opacity(50%);
}
.non-selected:hover {
    border-bottom: 2px solid #dbdbdb;
    transition: 1s;
}
.link {
    height: 48px;
    padding: 4px 24px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
.link img {
    width: 20px;
}
.link span {
    padding-left: 6px;
}

/** Main styles **/
#main {
    height: 1200px;
}
.sticky + #main {
    padding-top: 50px;
}
.main-inner {
    display: flex;
}
.left-menu {
    width: 306px;
    padding-right: 30px;
    height: auto;
    margin-top: -36px;
    min-height: 306px;
}
.left-menu .ui-clock {
    width: 276px;
    height: 276px;
    border-radius: 138px;
    border: 1px solid #dbdbdb;
    padding: 116px 20px;
    position: absolute;
    background-color: #fafaff;
}
.left-menu .clock {
    font-size: 36px;
    font-weight: normal;
}
